.footer {
  background-color: #2d2d2d; /* Dark background color */
  color: #fff; /* White text color */
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links ul, .footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li, .footer-social li {
  margin: 5px ;
}

.footer-links a, .footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth hover effect */
}

.footer-links a:hover, .footer-social a:hover {
  color: #f39c12; /* Gold color for hover effect */
  text-decoration: underline;
}

.footer-social ul {
  display: flex;
  justify-content: space-around;
  width: 180px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom p {
  margin: 0;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links, .footer-social {
    margin-bottom: 20px;
  }

  .footer-social ul {
    justify-content: center;
  }
}
