.footer {
  background-color: #2d2d2d; /* Dark background color */
  color: #fff; /* White text color */
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links ul, .footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li, .footer-social li {
  margin: 5px ;
}

.footer-links a, .footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth hover effect */
}


.footer-social ul {
  display: flex;
  justify-content: space-around;
  width: 180px;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom p {
  margin: 0;
}
#twitter-text{
  color: #1DA1F2;
}
#facbook-text{
  color: #1877F2;
}
#insta-text{
  background: linear-gradient(45deg, #833AB4, #C13584, #E1306C, #FD1D1D, #F77737, #FCAF45, #FFDC80);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
}
/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links, .footer-social {
    margin-bottom: 20px;
  }

  .footer-social ul {
    justify-content: center;
  }
}
